@use "./utilities/mixins.scss" as *;
@use "./utilities/variables.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #212121;
}

.flex {
    display: flex;
}

.between {
    justify-content: space-between;
}

.centered-flex {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

.colorBlack {
    color: $colorFontBlack;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.active {
    color: $colorFontBlue !important;
    border-bottom: 3px solid $colorFontBlue;
}

.non-active {
    margin-bottom: 3px;
}